body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header,
section,
footer {
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #1e90ff;
}

a {
  color: #1e90ff;
  text-decoration: none;
}

#about-me {
  margin: 20px;
}

.about-container {
  display: flex; /* activate o flexbox */
  align-items: flex-start; /* align the image and text on top*/
  gap: 20px; /* space betwen image and text*/
  flex-wrap: wrap; /* break line for small screens*/
}

.about-image img {
  width: 200px;
  height: auto;
  border-radius: 8px; /* edges lightly rounded */
}

.about-text {
  max-width: 600px;
}

/* responsivity to diferent screens */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .intro .about-image {
    width: 150px;
    margin-bottom: 20px;
  }

  .about-text h1 {
    font-size: 24px;
  }

  .about-text p {
    font-size: 16px;
  }
}

/* fade in animation */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
